
:root {
  --main-color: #3B82F6;
  --pane-padding: 5px 42px;
}

#loading-all {
  position: fixed;
  z-index: 9999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: none;
  background-color: #000;
}
#loading-all .loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
}
#loading-all .spinner-border {
  width: 5rem;
  height: 5rem;
}
#loading-all.show {
  opacity: 0.5;
  display: block;
}

.nav .nav-item .nav-icon {
  color: #f4f6f9;
}

#approval {
  position: fixed;
  z-index: 9999;
  margin: auto;
  /* width: 350px; */
  top: 50%;
  /* bottom: 50%; */
  right: 10px;
  text-align: right;
  transform: translateY(-50%);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  animation: blink 1s infinite;
}
@media screen and (max-width: 780px) {
  #approval {
    position: unset;
    transform: unset;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    top: 0px;
  }
}
@media screen and (max-width: 867px) {

  .begin-line{
    display: none;
  }
  .events{
    width: 100% !important  ;
  }
  .time-line .events ul li{
    width: unset !important;
  }
  .modal {
    width: 100vw;
  }
  .data-materials{
    overflow-x: auto;
  }
  .card-header{
    padding-left: 0px;
    padding-right: 10px;
  }
  .noti-pending {
    position: unset !important;
    width: 100%;
    margin-bottom: 20px;
    
 
  }
  .noti-pending a{
    width: 100%;
    
 
  }
}
.noti-pending {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 7px;
}

.noti-pending .noti-number {
  position: absolute;
  top: -13px;
  right: -5px;
  color: #F00;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.co-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.menu-is-opening  ul {
  padding:0 15px !important;
}

.bg-payment {
  background-color: #e3b3b8;
}

.bg-receipt {
  background-color: #9bcbd3;
}
.dataTables_filter {
  float: right !important;
}