body {
  font-family: DejaVu Sans, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}
.w1 {
  width: 1%;
}
.w2 {
  width: 2%;
}
.w3 {
  width: 3%;
}
.w4 {
  width: 4%;
}
.w5 {
  width: 5%;
}
.w7 {
  width: 7%;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w60 {
  width: 60%;
}
.w90 {
  width: 90%;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.fs10 {
  font-size: 10px;
}
.fs8 {
  font-size: 9px;
}

#pdf-manufacture {
  width: 100%; /* Chiều rộng toàn trang */
  margin: 0 auto; /* Căn giữa nội dung */
  transform: none; /* Xoay ngang không cần thiết khi đã dùng landscape */
}

/** Section left **/
.table-top{
  width: 100%;
  border-collapse: collapse;
}
.table-top td {
  padding: 2px 3px;
  border: 1px solid grey;
}
/** Section center **/
.section-center {
  margin-top: 5px;
  padding: 0 10px;
  display: inline-block;
}
.block-signature {
  border: 1px solid grey;
  height: 70px;
  text-align: center;
  line-height: 1.1;
  padding: 3px;
  position: relative;
}
.signature-time {
  font-size: 8px;
}
.signature-title {
  font-size: 10px;
}
.signature-name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 9px;
}

/** Section right **/
.table-material {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
.table-material td, th {
  padding: 2px 3px;
  border: 1px solid grey;
  text-align: center;
}
.table-material th {
  font-size: 10px;
}
.table-material td {
  line-height: 1.0;
}
/* Không ngắt trang giữa các dòng của bảng */
.table-material {
  page-break-inside: auto;
  width: 100%;
  border-collapse: collapse;
}

/* Tránh ngắt trang giữa các hàng trong bảng */
.table-material tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

/* Ngắt trang sau khi bảng kết thúc, để bảng tiếp theo được đặt ở trang mới */
.table-material tbody tr:last-child {
  page-break-after: always;
}

/* Đảm bảo khối chữ ký không bị chia cắt khi in ra PDF */
.block-signature {
  page-break-inside: avoid;
}

/* Đảm bảo bảng không bị ngắt giữa các trang */
section.right {
  page-break-inside: avoid;
}
/* Đảm bảo các hàng trong bảng không bị ngắt đôi */
table, tr, td, th {
  page-break-inside: avoid;
}

/* Tự động ngắt trang khi cần, nhưng không cắt giữa các phần tử quan trọng */
section, div, table {
  page-break-inside: avoid;
  page-break-after: auto;
}
