body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 13px;
    line-height: 1.2;
}
.w1 {
    width: 1%;
}
.w2 {
    width: 2%;
}
.w3 {
    width: 3%;
}
.w4 {
    width: 4%;
}
.w5 {
    width: 5%;
}
.w7 {
    width: 7%;
}
.w10 {
    width: 10%;
}
.w20 {
    width: 20%;
}
.w30 {
    width: 30%;
}
.w60 {
    width: 60%;
}
.w90 {
    width: 90%;
}

.h200 {
    height: 200px;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.fs14 {
    font-size: 14px;
}
.fs8 {
    font-size: 9px;
}
.table-product {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.table-product th {
    font-weight: bold;
}
.table-product td, th {
    padding: 5px;
    border: 1px solid #afafaf;
}
.text-right {
    text-align: right;
}
.no-border th{
    border: none !important;
}

.table-signature td {
    vertical-align: top;
}

